* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  /* font-family: 'Montserrat', sans-serif; */
}

html, body, #root {
  width: 100%;
  height: 100%;
}

*::selection {
  color: #95C11E;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* h4:hover ~ .some-element,
img:hover ~ .some-element {
  
  color: red;
} */




#cursor {
  background-color: #91B508;
  height: 20px;
  width: 20px;
  position: fixed;
  border-radius: 50%;
  z-index: 99;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}


#arrow {
  background-color: transparent;
  border: 1.5px solid #A4D521;
  position: absolute;
  bottom: 0;
  left: -2%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  transition-duration: 0.5s;
}

#arrow:hover {
  cursor: pointer;
  scale: 0.5;
  /* font-size: 60px; */
  background-color: #A4D521;
  color: white;
}

#cursor-blur {
  background-color: #92b5086e;
  height: 400px;
  width: 400px;
  position: fixed;
  border-radius: 50%;
  z-index: 9;
  filter: blur(80px);
}

#nav {
  /* background-color: crimson; */
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 100px;
  height: 120px;
  width: 100%;
  position: absolute;
  z-index: 99;
}

#nav img {
  height: 70px;
}

#nav h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

#nav h4:hover {
  color: black;
  cursor: pointer;
  scale: 1.2;
}

#nav h4:hover #cursor {
  scale: 1.5;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  height: 100%;
  position: relative;
}

#page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

#page1 h1 {
  font-size: 110px;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
}

#page1 h1::after {
  content: "Eat. Drink. Play.";
  position: absolute;
  color: black;
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 1px #91B508;
  z-index: -1;
}

#page1 h4 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 18px;
}

#page1 p {
  font-size: 22px;
  font-weight: 500;
  width: 50%;
  margin-top: 15px;
}

#page2 {
  min-height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.95);
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 10px;
  color: transparent;
  -webkit-text-stroke: 2px #91B508;
  /* transition: all linear 0.5s; */
  cursor: pointer;
  
  transition-duration: 0.2s;
  /* transition-delay: 1s; */
  transition-timing-function: linear;
}

#scroller h4:hover {
  color: #91B508;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


#about-us {
  display: flex;
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  padding: 0 50px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 11;
  margin-top: 50px;
}

#about-us img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  object-fit: cover;
}

#about-us-section {
  /* background-color: blue; */
  text-align: center;
  width: 60%;
}

#about-us-section h3 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

#about-us-section p {
  font-size: 16px;
  /* font-weight: 800; */
  line-height: 30px;
}


#cards-container {
  /* background-color: red; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.card {
  /* background-color: blue; */
  height: 90%;
  width: 25%;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition-duration: 0.5s;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg)
  /* transform: rotateY(2deg); */
}

#card1 {
  background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#card2 {
  background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#card3 {
  background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #91B508;
  padding: 30px;
  padding-top: 100px;  
  border-radius: 10px;
  opacity: 0;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay h4 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
}

.overlay p {
  color: black; 
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

#green-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
  width: 100%;
  background: linear-gradient(to left bottom,#1FA337, #A4D521);
  margin-top: 100px;
}

#green-div img {
  height: 100%;
  width: 10%;
  object-fit: cover;
}

#green-div h4 {
  font-size: 20px;
  width: 50%;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
  text-align: center;
  line-height: 35px;
  justify-content: center;
  align-items: center;
}


#feature {
  height: 60vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  margin-top: 100px;
}

#feature-left-box {
  width: 50%;
  height: 100%;
  padding: 0 40px;
  padding-left: 80px;
  /* background-color: crimson; */
}

#feature-right-box {
  width: 50%;
  height: 100%;
  /* background-color: tomato; */
  padding: 0 40px;
}

#feature-left-box img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  border-radius: 10px;
}


#feature-right-box h1 {
  font-size: 40px;
  font-weight: 900;
}

#feature-right-box p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
  line-height: 35px;
}


#feature-right-box button {
 border: 1px solid #91B508;
 background-color: black;
 padding: 18px 35px;
 text-transform: uppercase;
 border-radius: 30px;
 margin-top: 40px;
 cursor: pointer;
 transition-duration: 0.5s;
}


#feature-right-box button:hover {
  background-color: #91B508;
  color: black;
}


#page3 {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

#page3 h3 {
  width: 60%;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

#page3 img {
  height: 40px;
  position: absolute;
}

#colon1 {
  top: 25%;
  left: 10%;
}

#colon2 {
  bottom: 25%;
  right: 10%;
}

#page4 {
  height: 50vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}

#page4 h1 {
  font-size: 72px;
  position: absolute;
  top: 11%;
  color: #000;
  -webkit-text-stroke: 2px white;
  transition-duration: 0.75s;
}

.elem {
  overflow: hidden;
  height: 40%;
  width: 27%;
  border-radius: 15px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #9FCE20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #000;
  font-weight: 900;
  position: absolute;
  transition-duration: 0.75s;
  z-index: 1;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
  transition-duration: 0.75s;
}


.elem:hover h2 {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.elem:hover img {
  scale: 1;
}


#footer {
  height: 40vh;
  background: linear-gradient(to bottom left, #1FA337, #AEE223);
  padding: 0 100px;
  padding-top: 60px;
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 10px;
  
}

#footer-row-1 {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: red; */
}

#footer h2 {
  color: black;
  font-size: 28px;
  transition-duration: 0.25s;
  margin-top: 5px;
}

#footer h2:hover {
  color: white;
  cursor: pointer;
}

#footer-dots {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: tomato; */
  object-fit: cover;
}

#footer-right-box {
  display: flex;
  width: 100%;
  /* background-color: blue; */
  justify-content: space-between;
}

/* #footer-left-box {
  background-color: tomato;
  width: 20%;
  display: flex;
  justify-content: center;
} */
#footer-box-1 {
  z-index: 1;
}

#footer-box-1 img {
  height: 90px;
  transition-duration: 0.5s;
  /* transition: all ease-in 0.5s; */
}

#footer-box-1 img:hover {
  scale: 1.3;
  cursor: pointer;
}

#footer-box-1 div {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}


.footer-icon {
  font-size: 30px;
  fill: black;
  transition-duration: 0.5s;
}

.footer-icon:hover {
  scale: 1.3;
  fill: white;
  cursor: pointer;
}

#footer-box-2 {
  /* background-color: blue; */
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 30%;
}

#footer-box-3 {
  /* background-color: khaki;   */
  /* width: 30%; */
  width: 30%;
}


#footer-box-4 {
  width: 30%;
  /* background-color: aqua;   */
  /* width: 30%; */
}

#footer-box-4 p {
  color: black;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.25s;
  margin-top: 5px;
}

#footer-box-4 h3 {
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition-duration: 0.25s;
  margin-top: 10px;
}

#footer-box-4 h3:hover  {
  color: white;
  cursor: pointer;
}

#copyright {
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  color: black;
}

#copyright h3 {
  color: black;
  transition-duration: 0.25s;
}

#copyright p {
  color: black;
  font-size: 12px;
}

#copyright h3 {
  color: black;
  font-size: 14px;
}


#copyright h3:hover {
  color: white;
  cursor: pointer;
}

html::-webkit-scrollbar {
  /* display: block; */
  width: 10px;
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background-color: #91B508;
  border-radius: 50px;
}


/* need to add hover */
/* #nav h4
.card
#feature-right-box button
.elem

footer img, h2, h3
.footer icon
 */

 #posts-container {
  height: 80vh;
  width: 99%;
  /* background-color: tomato;   */
  margin-top: 150px;
  overflow: hidden;
  transform: rotate(-3deg);
 }

 #posts::-webkit-scrollbar {
  display: none;
 }

 #posts {
  height: 70vh;
  min-width: auto;
  display: flex;
  
  gap: 30px;
  padding: 20px;
  /* overflow: scroll; */
  /* background-color: red; */
  /* animation: scroll-posts 2s linear infinite; */

  animation-name: scroll-posts;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }

 /* @keyframes scroll-posts {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

  @keyframes scroll-posts {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
      /* transform: translateX(calc(-100% + 250px)); */
    }
  }

 #posts img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;  
 }

 #posts img:hover {
  scale: 1.1;
 }
 
 #follow-us-in-insta {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
 }

 #follow-us-in-insta h2 {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  transition-duration: 0.5s;
 }

#follow-us-in-insta svg {
  /* fill: black; */
  transition-duration: 0.5s;
  font-size: 30px;
}

#follow-us-in-insta div {
  display: flex;
  gap: 10px;
}

 #follow-us-in-insta div:hover h2 {
  cursor: pointer;
  color: #B3E824;
  scale: 1.2;
 }

 #follow-us-in-insta div:hover svg {
  fill: #B3E824;
  scale: 1.2;
  margin-right: 40px;
 }







 #test {
  height: 200px;
  width: 300px;
  background-color: khaki;
  margin-bottom: 100vh;
  display: flex;
  justify-content: center;
 }

 #test2 {
  background-color: tomato;
  height: 50%;
  width: 50%;
  /* overflow-y: auto; */
  white-space: nowrap;
  overflow-x: auto;
 }








